{% extends 'finder/base.html' %} {% block content %}
<h3>{{ info.name }}</h3>
<div class="flex-container-column instructions">
  <p>{{info.data | safe}}</p>
</div>
<p class="disclaimer">
  <b>DISCLAIMER: THIS WEBSITE DOES NOT PROVIDE MEDICAL ADVICE</b><br />
  <i
    >The information contained on this website are for informational purposes
    only. No material on this site is intended to be a substitute for
    professional medical advice, diagnosis or treatment. Always seek the advice
    of your physician or other qualified health care provider with any questions
    regarding a medical condition or treatment.</i
  >
</p>
{% endblock content %}
