{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Online Herbal</title>
    <link
      rel="shortcut icon"
      href="{% static 'img/favicon.ico' type='image/x-icon' %}"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      href="https://fonts.googleapis.com/css?family=|Lora|Montaga&display=swap|Oswald&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <a href="/">
        <header class="flex-container-row centered"></header>
      </a>
      <nav class="flex-container-row centered">
        <a href="/">Search</a>
        <a href="/all">Recipes List</a>
        <a href="/resources">Resources</a>
      </nav>

      <main class="flex-container-column">
        {% block content %}{% endblock %}
      </main>
      </div>
      <footer>
        <div class="disclaimer small">
          <i>DISCLAIMER: THIS WEBSITE DOES NOT PROVIDE MEDICAL ADVICE.
            The information contained on this website are for informational purposes
            only. No material on this site is intended to be a substitute for professional medical advice, diagnosis or treatment. Always seek the advice of your physician or other qualified health care provider with any
            questions regarding a medical condition or treatment.</i>
        </div>
        <div class="flex-container-row footer centered">
          <a href="/admin" class="no-line">Admin</a>
          <div class="foot fex-container-column small">
            <p class="no-pad">&copy; 2019 James Rodgers</p>
            <span>Content By Faith Rodgers</span>
          </div>
          <div class="flex-container-row">
            <a href="http://github.com/jamrod"
              ><img
                src="{% static 'img/Octocat.jpg' %}"
                alt="github"
                class="icons"
            /></a>
            <a href="http://www.linkedin.com/in/jamescrodgers"
              ><img
                src="{% static 'img/LI-In-Bug.png' %}"
                alt="linked in"
                class="icons"
            /></a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
