{% extends 'finder/base.html' %} {% block content %}
<h3>{{ instructions.title }}</h3>
<div class="flex-container-column">
  {% if instructions.image.pic.url != null %}
  <div class="flex-container-row">
    <div class="description">
      <p>{{instructions.instructions | safe}}</p>
    </div>

    <div class="centered">
      <img
        src="{{ instructions.image.pic.url }}"
        alt="instructions pic"
        class="recipe-pic"
      />
    </div>
  </div>
  {% else %}
  <div class="instructions">
    <p>{{instructions.instructions | safe}}</p>
  </div>
  {% endif %}
  <p class="disclaimer">
    <b>DISCLAIMER: THIS WEBSITE DOES NOT PROVIDE MEDICAL ADVICE</b><br />
    <i
      >The information contained on this website are for informational purposes
      only. No material on this site is intended to be a substitute for
      professional medical advice, diagnosis or treatment. Always seek the
      advice of your physician or other qualified health care provider with any
      questions regarding a medical condition or treatment.</i
    >
  </p>
</div>

{% endblock content %}
