{% extends 'finder/base.html' %} {% block content %}
<h3>{{ instructions.title }}</h3>
<div class="flex-container-column">
  {% if instructions.image.pic.url != null %}
  <div class="flex-container-row">
    <div class="description">
      <p>{{instructions.instructions | safe}}</p>
    </div>

    <div class="centered">
      <img
        src="{{ instructions.image.pic.url }}"
        alt="instructions pic"
        class="recipe-pic"
      />
    </div>
  </div>
  {% else %}
  <div class="instructions">
    <p>{{instructions.instructions | safe}}</p>
  </div>
  {% endif %}
</div>

{% endblock content %}
