{% extends 'finder/base.html' %} {% block content %}

<div class="results-container flex-container-row">
    {% for recipe in recipes %}
    <a href={% url 'recipe_detail' pk=recipe.pk %} >
      <div class="search-results flex-container-column" >
        <img src="{{ recipe.image.pic.url}}" class="results-pic"></img>
        <div class="inner-results flex-container-column">
         <h3>{{ recipe }}</h3> 
        </div>
      </div>
    </a>
    {% endfor %}
</div >
<div class="spacer"></div>
{% endblock content %}
