{% extends 'finder/base.html' %} {% block content %}

    <h3 class="headline">Additional Resources</h3>
    <div class="flex-container-row space">
        <div class="flex-container-column">
            <h4>Additional Ingredient Info</h4>
            <ul>
            {% for info in items %}
                <li><a href={% url 'additional_info' pk=info.pk %}>{{ info.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="flex-container-column">
            <h4>Herbal Preparations</h4>
            <ul>
            {% for instruction in instructions %}
                <li><a href={% url 'instructional_detail' pk=instruction.pk %}>{{ instruction }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>


{% endblock content %}