body {
  font-family: "Lora", serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-color: white;
  min-height: 90vh;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}

.centered {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.space {
  justify-content: space-around;
  width: 100%;
}

.clear {
  clear: both;
}

header {
  background-color: rgb(197, 200, 204);
  background-image: url(../img/OnlineHerbalHeader.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 325px;
  margin: 5px 0;
}

main {
  flex-grow: 1;
  align-items: center;
}

h1 {
  padding: 0;
  margin-bottom: 2px;
  font-family: "Montaga", serif;
}

h3 {
  padding: 5px;
  margin: 10px;
  font-family: Oswald, sans-serif;
}

h4 {
  margin: 2px;
  font-family: Oswald, sans-serif;
}

p {
  padding: 5px;
  margin: 10px;
}

nav {
  border-top: 1px solid rgb(55, 55, 55);
  border-bottom: 1px solid rgb(55, 55, 55);
  padding: 4px;
  margin: 2px;
}

nav a {
  padding: 0 50px;
  text-decoration: none;
}

a {
  color: rgb(24, 2, 85);
  text-decoration: none;
}

a:hover {
  color: rgb(11, 82, 46);
}

ul {
  list-style-type: none;
}

.left {
  width: 100%;
  text-align: left;
}

.fail {
  color: red;
}

.footer {
  flex-shrink: 0;
  width: 100%;
  justify-content: space-around;
  margin: 5px 0;
}

.no-pad {
  padding: 0;
  margin: 0;
}

.icons {
  max-width: 25px;
}

.detail-page {
  width: 70%;
}

.detail-container {
  max-width: 1000px;
}

.recipe-pic {
  float: right;
  padding: 20px 0 0;
  max-width: 500px;
  max-height: 350px;
}

.description {
  padding: 5px;
  max-width: 490px;
  /* min-width: 400px; */
}

.home {
  width: 100%;
  height: 100%;
  margin: 5px;
  justify-content: center;
}

.instructions {
  text-align: left;
  max-width: 1000px;
}

.small {
  font-size: small;
}

.headline {
  border-bottom: 1px solid lightslategray;
}

.instructional-links {
  padding: 0 10px;
}

.disclaimer {
  width: 100%;
}

#two-grid {
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10%;
  margin: 2%;
}

#by-name {
  background-image: url(../img/SearchByName.jpg);
  grid-row: 1;
  grid-column: 1;
}

#by-ingredient {
  background-image: url(../img/SearchByIngredient.jpg);
  grid-row: 1;
  grid-column: 2;
}

.form-container {
  width: 300px;
  height: 290px;
  padding: 1%;
  margin: 1%;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  justify-self: center;
  border-radius: 10px;
}

.inner-container {
  width: 90%;
  height: 110px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  padding: 2%;
  margin: 2%;
}

form button {
  border-radius: 45%;
  color: rgb(11, 82, 46);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px 4px;
  border: none;
  box-shadow: 2px 2px 3px rgb(25, 25, 25);
}

form input {
  border-radius: 2px;
  border: none;
  box-shadow: inset -1px -2px 3px rgb(80, 80, 80);
  padding: 5px 2px;
  background-color: rgba(255, 255, 255, 0.7);
  padding-left: 5%;
}

::placeholder {
  color: rgb(88, 111, 100);
}

.line {
  width: 95%;
  border-top: 1px solid black;
  margin: 20px 0 0;
}

.full-grid {
  display: grid;
  gap: 4%;
  margin: 2%;
  width: 1000px;
  max-width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.category-buttons {
  width: 300px;
  height: 290px;
  padding: 1%;
  margin: 1%;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

.categories {
  justify-content: center;
}

.inner-container h3 {
  align-self: center;
  max-width: 250px;
}

#kids {
  background-image: url(/static/img/KidsRecipes.jpg);
}

#cold-flu {
  background-image: url(/static/img/Cold&FluRecipes.jpg);
}

#tea {
  background-image: url(/static/img/TeaRecipes.jpg);
}

#kitchen {
  background-image: url(/static/img/KitchenRecipes.jpg);
}

#skincare {
  background-image: url(/static/img/SkincareRecipes.jpg);
}

#medicine-chest {
  background-image: url(/static/img/MedicineChest.jpg);
}

.results-container {
  width: 1000px;
  max-width: 100%;
  align-items: flex-start;
  justify-content: space-around;
}

.search-results {
  width: 300px;
  height: 290px;
  padding: 1%;
  margin: 2% 1%;
  justify-content: center;
  align-items: center;
}

.results-pic {
  width: 300px;
  height: 290px;
  position: absolute;
  z-index: 0;
  border-radius: 10%;
}

.inner-results {
  text-align: center;
  align-items: baseline;
  width: 270px;
  height: 110px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  z-index: 1;
}

.inner-results h3 {
  align-self: center;
  max-width: 250px;
  z-index: 1;
  padding: 15% 0;
}

.spacer {
  height: 50px;
  width: 100%;
  padding: 0px;
}

@media only screen and (max-width: 1050px) {
  header {
    height: 150px;
  }

  .detail-page {
    width: 100%;
  }

  #top-grid {
    width: auto;
    gap: 5px;
  }

  .form-container {
    height: 225px;
    width: 250px;
  }

  .category-buttons {
    height: 225px;
    width: 250px;
  }

  .full-grid {
    width: 100%;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media only screen and (max-width: 500px) {
  header {
    height: 100px;
  }

  .recipe-pic {
    float: none;
    max-width: 300px;
    margin: 0 auto;
    padding: 0 20px;
  }
  /* 
  .centered {
    width: 100%;
  } */

  #top-grid {
    display: flex;
    flex-direction: column;
  }

  .inner-container h3 {
    padding-bottom: 2px;
    margin: 2px;
  }
}
